[worldserver]

#############################################################################
# Control del modo
# Defecto: 1 (Activado)
#          0 (Desactivado)
BattleRoyale.Activado = 1

#############################################################################
# Anunciar al jugador cuando se conecta
# Defecto: 1 (Si)
#          0 (No)
BattleRoyale.Anunciar = 1

#############################################################################
# Mínimo de jugadores para iniciar ronda automáticamente
# Defecto: 25 (Consejo: Se recomienda 10 o más)
BattleRoyale.MinJugadores = 25

#############################################################################
# Máximo de jugadores que pueden participar en una ronda
# Defecto: 50 (Consejo: Se recomienda 10 o más y mayor que el mínimo)
BattleRoyale.MaxJugadores = 50

#############################################################################
# Intervalos configurables para cada cosa (segundos)
#
# * SinJugadores: Tiempo para inicio forzado sin suficientes jugadores
#       Defecto: 1800 (30 minutos) (Se avisará cuando falten 5 minutos)
#
# * NaveEnEspera: Tiempo antes que la nove comience a moverse
#       Defecto: 30 segundos (Consejo: Se recomienda 20 o más)
#       Nota: Al faltar 10 segundos se deja de invocar jugadores
#
# * ZonaSegura: Tiempo entre reducciones de zona (Son 10 zonas en total)
#
# * FinalDeRonda: Tiempo para espectar al ganador antes de salir
#       Defecto: 10 segundos
BattleRoyale.Intervalo.SinJugadores = 1800
BattleRoyale.Intervalo.NaveEnEspera = 30 # TODO: Utilizar este valor.
BattleRoyale.Intervalo.ZonaSegura = 60
BattleRoyale.Intervalo.FinalDeRonda = 10 # TODO: Utilizar este valor.
