[worldserver]

#############################################################################
# Control del modo
# Defecto: 1 (Activado)
#          0 (Desactivado)
BattleRoyale.Activado = 1

#############################################################################
# Anunciar al jugador cuando se conecta
# Defecto: 1 (Si)
#          0 (No)
BattleRoyale.Anunciar = 1

#############################################################################
# Mínimo de jugadores para iniciar ronda automáticamente
# Defecto: 25 (Consejo: Se recomienda 10 o más)
BattleRoyale.MinJugadores = 25

#############################################################################
# Máximo de jugadores que pueden participar en una ronda
# Defecto: 50 (Consejo: Se recomienda 10 o más y mayor que el mínimo)
BattleRoyale.MaxJugadores = 50

#############################################################################
# Intervalos configurables para cada cosa (segundos)
#
# * ZonaSegura: Tiempo entre reducciones de zona (Son 10 zonas en total)
#       Defecto: 60 segundos
BattleRoyale.Intervalo.ZonaSegura = 60








#############################################################################
# Intervalo de zona en milisegundos (Obsoleto, trabajarlo en segundos)
# ... TODO ... Quitar!
BattleRoyale.SecureZoneInterval = 60000
